body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .logo-icon {
      height: 50px;
      width: 50px;
      background-image: url(../assets/Ilmu\ Tanah.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #f4f4f4;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  .intro {
    text-align: center;
    padding: 50px 0;
  }
  
  .intro h1 {
    font-size: 2em;
  }
  
  .date {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .journey {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .locations {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .location {
    text-align: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 10px;
  }
  
  .contact {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
  }